<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Figurine Hub</title>
    <!-- UIKIT -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
</head>
<body style="font-family: Arial, sans-serif; background-color: #2A3151;">
    
    <header>
        <nav class="uk-navbar-container" style="background-color: #F8B0ED;" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/" style="color: black;">Figurine Hub</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="/catalogue" style="color: black;">Каталог</a></li>
                    <li><a href="#" style="color: black;">Отзывы</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div class="uk-margin-top uk-background-muted uk-background-cover uk-background-secondary uk-background-blend-overlay uk-padding uk-text-center" style="background-image: url('https://images.unsplash.com/photo-1739133978409-ea3edf530979');">
            <h1 class="uk-heading-primary" style="color: white;">Figurine <span style="color: black; background-color: orange; border-radius: 5px; padding: 0 5px 0 5px">Hub</span></h1>
            <p class="uk-text-lead" style="color: white;">Добро пожаловать в мир коллекционных фигурок!</p>
        </div>

        <div class="uk-margin-top uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; finite: false">
            <div class="uk-slider-items uk-grid">
                <div>
                    <img src="https://images.unsplash.com/photo-1566577134665-2c674085abf7" width="600" height="400">
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1638012107344-3ed0f994d8d7" width="600" height="400">
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1748219622557-5899a8bd626b" width="600" height="400">
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1550747545-c896b5f89ff7" width="600" height="400">
                </div>
            </div>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <div class="uk-container uk-margin-top">
            <ul uk-accordion="multiple: true">
                <li>
                    <a class="uk-accordion-title" style="color: white;" href>О нас</a>
                    <div class="uk-accordion-content">
                        <p style="color: white;">Мы - команда энтузиастов, которые любят коллекционные фигурки. Наша цель - предоставить вам лучший опыт в мире коллекционирования.</p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" style="color: white;" href>Телефон</a>
                    <div class="uk-accordion-content">
                        <p style="color: white;">Вы можете связаться с нами по телефону: +7 (123) 456-78-90</p>
                        <p style="color: white;">Мы всегда рады помочь вам с выбором и ответить на ваши вопросы!</p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" style="color: white;" href>Адрес</a>
                    <div class="uk-accordion-content">
                        <p style="color: white;">Наш офис находится по адресу: г. Москва, ул. Коллекционеров, д. 1</p>
                        <p style="color: white;">Мы открыты для посетителей с понедельника по пятницу с 10:00 до 18:00.</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <footer class="uk-section uk-padding-small uk-margin-top" style="background-color: #F8B0ED;">
        <h3 style="color: black;">Наши соц. сети: <a href="" uk-icon="icon: facebook"></a> <a href="" uk-icon="icon:  tiktok"></a> <a href="" uk-icon="icon: instagram"></a></h1>
    </footer>
</body>
</html>